MaterialProperties(
  inherit: "materials/glass.mat.ron",
  base_color: Rgba(
    red: 0.3,
    green: 0.3,
    blue: 0.3,
    alpha: 0.8,
  ),
  emissive: Rgba(
    red: 15.0,
    green: 15.0,
    blue: 15.0,
    alpha: 1.0,
  ),
  animated: true,
)
